In [16]:
import pandas as pd

df = pd.read_csv("../data/income/adult.data")


df.shape

df.info()


df.head()


# เนื่องจากข้อมูลก่อนหน้าไม่มี feature label จะทำการเรียกข้อมูลใหม่โดยใส่ feature label จาก adult.name
def read_adult_names_file(file_path):
    with open(file_path, "r") as file:
        content = file.read()

    feature_section = content.split(">50K, <=50K.")[1].strip()

    features = []

    for line in feature_section.split("\n"):
        if line.strip():
            parts = line.split(": ")
            if len(parts) == 2:
                feature_name = parts[0].strip()
                features.append(feature_name)

    features.append("income")

    return features


column_names = read_adult_names_file("../data/income/adult.names")
df = pd.read_csv(
    "../data/income/adult.data",
    header=None,
    names=column_names,
    sep=", ",
    engine="python",
)


df.head()
df.isnull().sum()


for column in df.columns:
    j = df[column].value_counts(dropna=False)
    print(column, ":", j)
    print("----------------------------------------")


for column in df.columns:
    df.drop(df[df[column] == "?"].index, inplace=True)


def map_data(x):
    convert = x.unique()
    return x.map(dict(zip(convert, range(1, len(convert) + 1))))


for column in df.columns:
    if df[column].dtype == "object":
        df[column] = map_data(df[column])
df.astype(int)

df_test = pd.read_csv(
    "../data/income/adult.test",
    header=None,
    names=column_names,
    sep=", ",
    engine="python",
)
df_test.isnull().sum()
df_test.dropna(inplace=True)

for column in df_test.columns:
    df_test.drop(df_test[df_test[column] == "?"].index, inplace=True)

for column in df_test.columns:
    if df_test[column].dtype == "object":
        df_test[column] = map_data(df_test[column])


print(df_test.info())

X_train = df.drop("income", axis=1)
y_train = df["income"]

X_test = df_test.drop("income", axis=1)
y_test = df_test["income"]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   39              32560 non-null  int64
 1    State-gov      32560 non-null  object
 2    77516          32560 non-null  int64
 3    Bachelors      32560 non-null  object
 4    13             32560 non-null  int64
 5    Never-married  32560 non-null  object
 6    Adm-clerical   32560 non-null  object
 7    Not-in-family  32560 non-null  object
 8    White          32560 non-null  object
 9    Male           32560 non-null  object
 10   2174           32560 non-null  int64
 11   0              32560 non-null  int64
 12   40             32560 non-null  int64
 13   United-States  32560 non-null  object
 14   <=50K          32560 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB
age : age
36    898
31    888
34    886
23    877
35    876
     ...
83      6
88      3
85      3
86      1
87      1
Name: count, Length: 73, dtype: int64
----------------------------------------
workclass : workclass
Private             22696
Self-emp-not-inc     2541
Local-gov            2093
?                    1836
State-gov            1298
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: count, dtype: int64
----------------------------------------
fnlwgt : fnlwgt
164190    13
203488    13
123011    13
148995    12
121124    12
          ..
232784     1
325573     1
140176     1
318264     1
257302     1
Name: count, Length: 21648, dtype: int64
----------------------------------------
education : education
HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: count, dtype: int64
----------------------------------------
education-num : education-num
9     10501
10     7291
13     5355
14     1723
11     1382
7      1175
12     1067
6       933
4       646
15      576
5       514
8       433
16      413
3       333
2       168
1        51
Name: count, dtype: int64
----------------------------------------
marital-status : marital-status
Married-civ-spouse       14976
Never-married            10683
Divorced                  4443
Separated                 1025
Widowed                    993
Married-spouse-absent      418
Married-AF-spouse           23
Name: count, dtype: int64
----------------------------------------
occupation : occupation
Prof-specialty       4140
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3770
Sales                3650
Other-service        3295
Machine-op-inspct    2002
?                    1843
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: count, dtype: int64
----------------------------------------
relationship : relationship
Husband           13193
Not-in-family      8305
Own-child          5068
Unmarried          3446
Wife               1568
Other-relative      981
Name: count, dtype: int64
----------------------------------------
race : race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64
----------------------------------------
sex : sex
Male      21790
Female    10771
Name: count, dtype: int64
----------------------------------------
capital-gain : capital-gain
0        29849
15024      347
7688       284
7298       246
99999      159
         ...
1111         1
2538         1
22040        1
4931         1
5060         1
Name: count, Length: 119, dtype: int64
----------------------------------------
capital-loss : capital-loss
0       31042
1902      202
1977      168
1887      159
1848       51
        ...
2080        1
1539        1
1844        1
2489        1
1411        1
Name: count, Length: 92, dtype: int64
----------------------------------------
hours-per-week : hours-per-week
40    15217
50     2819
45     1824
60     1475
35     1297
      ...
82        1
92        1
87        1
74        1
94        1
Name: count, Length: 94, dtype: int64
----------------------------------------
native-country : native-country
United-States                 29170
Mexico                          643
?                               583
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
France                           29
Greece                           29
Ecuador                          28
Ireland                          24
Hong                             20
Cambodia                         19
Trinadad&Tobago                  19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Honduras                         13
Hungary                          13
Scotland                         12
Holand-Netherlands                1
Name: count, dtype: int64
----------------------------------------
income : income
<=50K    24720
>50K      7841
Name: count, dtype: int64
----------------------------------------
<class 'pandas.core.frame.DataFrame'>
Index: 15060 entries, 1 to 16281
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             15060 non-null  int64
 1   workclass       15060 non-null  int64
 2   fnlwgt          15060 non-null  float64
 3   education       15060 non-null  int64
 4   education-num   15060 non-null  float64
 5   marital-status  15060 non-null  int64
 6   occupation      15060 non-null  int64
 7   relationship    15060 non-null  int64
 8   race            15060 non-null  int64
 9   sex             15060 non-null  int64
 10  capital-gain    15060 non-null  float64
 11  capital-loss    15060 non-null  float64
 12  hours-per-week  15060 non-null  float64
 13  native-country  15060 non-null  int64
 14  income          15060 non-null  int64
dtypes: float64(5), int64(10)
memory usage: 1.8 MB
None

In [17]:
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score
import joblib

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)


if len(y_train.shape) > 1:
    y_train = y_train.flatten()
if len(y_test.shape) > 1:
    y_test = y_test.flatten()

model = RandomForestClassifier(
    n_estimators=100, random_state=50, class_weight="balanced"
)
model.fit(X_train_scaled, y_train)

rfc_result_trained = model.predict(X_test_scaled)
accuracy = accuracy_score(y_test, rfc_result_trained)
print(f"Test accuracy: {accuracy:.4f}")
print("\nClassification Report:")
print(classification_report(y_test, rfc_result_trained))
joblib.dump(model, "../exported_models/random_forest/rf_income_model.pkl")
joblib.dump(scaler, "../exported_models/random_forest/_income_scaler.pkl")

Test accuracy: 0.8090

Classification Report:
              precision    recall  f1-score   support

           1       0.80      0.99      0.89     11360
           2       0.88      0.26      0.40      3700

    accuracy                           0.81     15060
   macro avg       0.84      0.62      0.64     15060
weighted avg       0.82      0.81      0.77     15060

['../exported_models/random_forest/_income_scaler.pkl']